@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}



:root {
    --corPrincipal: #3B82F6;

    --TamanhoFonte: 700;
    --bordas: 5px;
    --sombras: 2px 2px 3px rgba(0, 0, 0, 0.199);

}

html {
    scroll-behavior: smooth;
}


html,
body {
    height: 100%;

}

header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.8);
}


.topo {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;


}

.imagem {
    margin-left: 10px;
}

.imagem>img {
    width: 80px;
    height: 80px;
    /* margin-left: 15px; */
}

.sair {
    display: flex;
    gap: 20px;

}

.btn-sair {
    width: 110px;
    height: 50px;
    margin-right: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.103);
    background-color: white;
    border: 1px solid #6D6B6B;
    color: black;
    font-family: var(--fontePrincipal);
    cursor: pointer;
}

.btn-sair:hover {
    transform: scale(1.03) translateY(-2px) translateX(4px);
    background-color: lightgray;
    color: black;
}

.btn-solicitacao {
    width: 130px;
    height: 50px;
    margin-right: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.103);
    background-color: var(--corPrincipal);
    border: 1px solid var(--corPrincipal);
    color: rgb(255, 255, 255);
    font-family: var(--fontePrincipal);
    cursor: pointer;
    font-weight: bold;
}

.btn-solicitacao:hover {
    transform: scale(1.03) translateY(-2px) translateX(4px);
    background-color: var(--corPrincipal);
    color: rgb(255, 255, 255);
    border: 2px solid #3B82F6;
}


ul {
    display: flex;
    justify-content: center;
    gap: 50px;


}

li {
    list-style: none;
}

li>a {
    text-decoration: none;
    font-family: var(--fontePrincipal);
    color: black;
    font-size: 21px;
    display: inline-block;


}

a:hover {
    transform: scale(1.03) translateY(-5px);
    color: var(--corPrincipal);
    font-weight: var(--TamanhoFonte);
}

main {
    min-height: 100vh;
}

/* Ate aqui todas as outras telas vao usar */




.container-fluid {
    background-color: var(--corPrincipal);
}

.busca {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
}

.busca>h5,
.busca>p {
    color: white;
    font-weight: var(--TamanhoFonte);
}

.search {
    display: flex;
    justify-content: center;
}


.container#principal {
    min-height: 500px !important;
    border-radius: 20px;
    background-color: #F9FAFB;
    width: 85% !important;
    /* box-shadow: var(--sombras);
     */
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.199);

}

.profissionais {
    display: flex;
    justify-content: center;
    gap: 10px;

}

#tipoServico {
    margin-right: 9px;
    margin-top: 10px;
}

.item {
    border: var(--bordas);
    box-shadow: var(--sombras);
    width: 100%;
    margin-top: 10px;
    border-radius: var(--bordas);
    border: 1px solid #3b83f650;
}

.listagem {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    /* espaço entre os cards */
    max-width: 1900px;
    /* limita largura */
    margin-left: 10px;
    margin-right: 10px;

}

.perfil {
    display: flex;

}



.foto {
    width: 120px;
    margin-left: 10px;
    margin-right: 10px;
}


img {
    width: 140px;
    height: 140px;
    border-radius: 100px;
    object-fit: cover;


}

.titulo>h4,
.titulo>p {
    font-weight: 500;

}

.info {
    margin-left: 20px;
}

.botoes {
    display: flex;
    justify-content: flex-end;
}

.texto {
    padding: 5px;
    margin-left: 10px;
    margin-right: 10px;
}

.texto>p {
    text-align: justify;
}

.btn-perfil {
    width: 120px;
    height: 40px;
    border: 1px solid var(--corPrincipal);
    box-shadow: var(--sombras);
    border-radius: var(--bordas);
    margin-right: 15px;
    margin-bottom: 15px;
    background-color: var(--corPrincipal);
    color: white;
    font-weight: 600;

}

.valor>h4 {
    font-weight: var(--TamanhoFonte);
    color: #22C55E;
    margin-left: 10px;

}

.btn-perfil:hover {
    transform: scale(1.03) translateY(-5px) translateX(3px);

}


@media screen and (max-width: 768px) {

    .topo {
        display: flex;
        justify-content: space-between;
        /* margin-left: -25px; */
    }



    .sair {
        display: flex;
        flex-flow: column wrap;
        gap: 3px;
    }

    .btn-sair {
        width: 120px;
        height: 50px;
    }

    nav {
        margin-top: 30px;
        /* border: 1px solid black; */
    }

    ul {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        gap: 20px;
    }

    li {
        padding: 5px;
        border-radius: 15px;
    }


    .listagem {
        display: flex;
        flex-flow: column wrap;
        gap: 10px;
    }

    .perfil {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .foto {
        margin-right: 0px;
    }

    .foto>img {
        width: 100px;
        height: 100px;

    }

    .info {
        margin-left: 0px;
    }




}

@media (min-width: 768px) and (max-width: 1100px) {

    .listagem {
        display: flex;
        flex-flow: column wrap;
        gap: 10px;
    }

    .item {
        margin-bottom: 10px !important;
    }

}


/* Tela de profissional */

.lista-servico {
    display: flex;
    gap: 40px;
    padding-left: 40px;

}

.servicos-groups {
    padding: 10px;
    border-radius: 15px;
    line-height: 1.2;
    width: 300px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.175);
}

.servicos-groups>h6 {
    font-size: 14pt;
    font-weight: bold;
    margin-bottom: 20px;


}

.servicos-groups>a {
    text-decoration: none;
}

.comentService {
    color: #898585;
}


/* tela de historico de cliente */
header {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
    backdrop-filter: blur(5px);
    background-color: rgba(255, 255, 255, 0.8);
}



.busca-historico {
    display: flex;
    width: 80%;
    margin: auto;
    justify-content: center;
}

.campo {
    width: 100%;
    max-width: 500px;
    display: flex;
    justify-content: center;
}

.busca {
    width: 100%;
}

#busca-historico {

    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;

}

#profissionais li {
    display: flex;
    flex-flow: column;
    align-items: flex-end;
}

.lista-historico {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    width: 100%;

}


.card-historico {
    margin-top: 15px;
    border: 1px solid rgba(0, 0, 0, 0.17);
    border-radius: 20px;
    display: flex;
    padding: 10px 10px;
    justify-items: center;
    justify-content: space-between;
    width: 80%;
    box-shadow: var(--sombras);
}

.info-imagem img {
    width: 80px;
    height: 80px;
    border: 25px !important;
}

.info-group {
    display: flex;
}

.info-dados {
    margin-left: 10px;

}

#valorServico {
    line-height: 3.2;
    font-size: 16pt;
}

.info-dados>h5 {
    line-height: 1.2;
    font-size: 12pt;
}

.info-status {
    width: 40%;
}

.info-validation {
    display: flex;
    justify-content: center;

}

.info-validation>h5 {
    text-align: center !important;
}

.botao {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}

input {
    width: 100%;
}


.btn-detalhar {
    width: 120px;
    height: 40px;
    border: 1px solid var(--corPrincipal);
    box-shadow: var(--sombras);
    border-radius: var(--bordas);
    margin-right: 15px;
    margin-bottom: 15px;
    background-color: var(--corPrincipal);
    color: white;
    font-weight: 600;
}


.btn-detalhar:hover {
    transform: scale(1.03) translateY(-5px) translateX(3px);
}

#favorito {
    display: flex;
    font-size: 35px;
    color: #ccc;
    cursor: pointer;
    transition: 0.2s;
}

#favorito.ativo {
    color: gold;
}

@media screen and (max-width: 768px) {

    .container {
        padding-top: 10px;
    }

    .busca-historico {
        display: flex;
        flex-flow: column wrap;
        flex: auto;
        width: 100%;
        justify-content: flex-start;

    }

    input {
        width: 80%;
        height: 40px;
    }

    .filtros ul {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        gap: 20px;
        padding: 0;
        margin-left: 45px;
    }

    .filtros>ul>li>a {
        font-size: 14pt;
    }

    .lista-historico {
        width: 100%;
    }

    .card-historico {
        display: flex;
        flex-direction: column;
    }

    .info-group {
        display: flex;
        gap: 10px;
        flex-flow: column wrap;
        align-items: flex-start;

    }

    .info-imagem>img {
        display: none;
    }

    #valorServico {
        font-size: 15pt;
        font-weight: bold;
    }

    .info-dados,
    h5 {
        font-size: 12pt;
        line-height: 1.1;
    }

    .info-status {
        display: flex;
        width: 100%;
        flex-direction: column;
    }

    .info-validation {
        display: flex;
        justify-content: flex-start;
        margin-bottom: 5px;
    }

    .info-validation>h5 {
        font-size: 15pt;
    }

    .detalhes>h6 {
        text-align: start !important;
        margin-top: 4px;
    }

    .botao {
        margin-top: 10px !important;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {

    .busca-historico {
        width: 100%;
        gap: 10px;
        display: flex;
    }


    input {
        width: 70% !important;
        height: 40px;
    }

    .filtros ul {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        gap: 20px;
        padding: 0;
        margin-left: 45px;
    }



    .card-historico {
        display: flex;
        flex-flow: column wrap;
    }


    #valorServico {
        margin-top: 5px !important;
    }

    .info-dados,
    h5 {
        font-size: 12pt;
        line-height: 1.1;
    }

    .info-status {
        display: flex;
        width: 100%;
        flex-direction: column;
    }

    .info-validation {
        display: flex;
        justify-content: flex-start;
        margin-bottom: 5px;
    }

    .info-validation>h5 {
        font-size: 15pt;
    }

    .detalhes>h6 {
        text-align: start !important;
        margin-top: 4px;
    }

    .botao {
        margin-top: 10px !important;
    }

}

/* Home Profissional */
.lista-servico {
    display: flex;
    gap: 40px;
    padding-left: 40px;

}

.servicos-groups {
    padding: 10px;
    border-radius: 15px;
    line-height: 1.2;
    width: 300px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.175);
}

.servicos-groups>h6 {
    font-size: 14pt;
    font-weight: bold;
    margin-bottom: 20px;


}

.servicos-groups>a {
    text-decoration: none;
}

.comentService {
    color: #898585;
}

@media screen and (max-width:768px) {
    .lista-servico {
        display: flex;
        flex-flow: column wrap;
        align-items: flex-start;
    }

}


/* Servico Pendentes */

.lista-servicoPendentes {
    margin-top: 40px;
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;

}

.listServices {
    width: 80%;
    padding: 10px 5px 20px 10px;
    border: 1px solid rgba(0, 0, 0, 0.096);
    box-shadow: var(--sombras);
    border-radius: var(--bordas);
    margin-bottom: 60px;
}


.infoService {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.infoService>img {
    width: 90px;
    height: 90px;
}


.infoServicesName {
    padding: 10px;

}

.solicitacaoServices>h5 {
    line-height: 1.1;
    font-size: 13pt;
}

.solicitacaoServices>p {
    line-height: 1.0;
    text-align: justify;

}

#observacao {
    font-weight: bold;
}

.botoesSerivces {
    display: flex;
    justify-content: flex-end;
}

@media screen and (max-width: 768px) {
    header {
        position: initial;

    }

    .lista-servicoPendentes {
        margin-top: 40px;
        display: flex;
        justify-content: center;
        flex-flow: column wrap;


    }

    .solicitacaoServices>h5 {
        line-height: 1.1;
        font-size: 13pt;
    }


    .listServices {
        width: 100%;
        padding: 10px 5px 20px 10px;
        border: 1px solid rgba(0, 0, 0, 0.096);
        box-shadow: var(--sombras);
        border-radius: var(--bordas);
        margin-bottom: 40px;
    }

    .infoService>img {
        width: 100px;
        height: 100px;
    }

    .solicitacaoServices>p {
        line-height: 1.0;
        text-align: justify;
        display: none;

    }

    .botoesSerivces {
        display: flex;
        justify-content: flex-end;
        margin-top: 25px;
    }


}


@media (min-width: 768px) and (max-width: 1440px) {
    .lista-servicoPendentes {
        margin-top: 40px;
        display: flex;
        justify-content: space-around;
        flex-flow: row wrap;


    }

    .infoService>img {
        width: 100px;
        height: 100px;
    }



}




/* Servicos Ativo */
.lista-servicoAtivo {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    margin-top: 20px;

}

.finalizarServico {
    display: flex;
    justify-content: flex-end;
    width: 91%;
}

.ativoGroup {
    display: flex;
    width: 80%;
    justify-content: space-between;
    border: 1px solid rgba(0, 0, 0, 0.096);
    box-shadow: var(--sombras);
    border-radius: var(--bordas);
    margin-bottom: 40px;
}

.ativoInfo {
    display: flex;
}

.ativoInfo>img {
    width: 90px;
    height: 90px;
}


.ativoDados {
    padding: 10px;
}

.ativoDetalhes {
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-end;
    align-items: flex-end;

}


.btn-finalizar {
    width: 150px;
    height: 40px;
    border: 1px solid var(--corPrincipal);
    box-shadow: var(--sombras);
    border-radius: var(--bordas);
    margin-right: 15px;
    margin-bottom: 15px;
    background-color: var(--corPrincipal);
    color: white;
    font-weight: 600;


}

.btn-finalizar:hover {
    transform: scale(1.03) translateY(-5px) translateX(3px);
}


@media screen and (max-width: 768px) {
    .ativoGroup {
        display: flex;
        width: 100%;
        flex-flow: column wrap;
        border: 1px solid rgba(0, 0, 0, 0.096);
        box-shadow: var(--sombras);
        border-radius: var(--bordas);
        margin-bottom: 40px;
    }

    .finalizarServico {
        display: flex;
        padding-top: 10px;
        justify-content: flex-end;
        width: 100%;
    }


    .ativoDetalhes {
        display: flex;
        flex-flow: column wrap;
        justify-content: flex-end;
        align-items: flex-end;

    }

    .btn-finalizar {
        width: 150px;
        height: 40px;
        border: 1px solid var(--corPrincipal);
        box-shadow: var(--sombras);
        border-radius: var(--bordas);
        margin-right: 15px;
        margin-bottom: 15px;
        background-color: var(--corPrincipal);
        color: white;
        font-weight: 600;


    }



}


/* Tela de perfil de profissional  - visao de cliente */
.voltarPerfil>a {
    font-size: 16pt;
    margin-left: 50px;
    color: black;
    text-decoration: none;
}

.margem {
    width: 100%;
    color: blue;
}


.perfilCliente {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.perfilDados {
    margin-left: 40px !important;
}

.perfiServico {
    margin-top: 50px;
    padding: 15px;
    border: 1px solid #00000041;
    margin-right: 155px;
    height: 220px;
    border-radius: 10px;
    box-shadow: var(--sombras);
    display: flex;
    flex-flow: column wrap;

}

.perfiServico>h6 {
    font-weight: bold;
    color: #22c55e;
    font-size: 15pt;
}

.perfilName {
    padding: 10px 0px 0px 10px;
}

.perfilName>h3 {
    font-weight: bold;
}

.perfilName>h3,
p {
    line-height: 1.1;
}

.perfilName>p {
    line-height: 0.8;
}

.perfilImagem>img {
    width: 230px !important;
    height: 224px !important;
    border-radius: 20px;
}

.perfilNotas>p {
    text-align: justify;
}

.perfilDetalhes {
    display: flex;
    gap: 10px;
    padding: 10px;
    width: 50%;
}

.comentGroup {
    display: flex;
    padding: 10px;
    justify-content: space-around;
    width: 70%;
    margin-left: 40px;
    margin-bottom: 40px;
    gap: 5px;
    border-radius: 8px;
}

.perfilAvaliacao {
    display: flex;
    flex-flow: column wrap;
}

.perfilAvaliacao>h4 {
    margin-left: 40px;
    margin-top: 40px;
}



.avaliacaoGroup {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);


}



.infoComent {
    display: flex;
    width: 100%;
}

.dataComentario {
    margin-top: 5px;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between
}


.icones {
    display: flex;
    align-items: center;
    gap: 10px;
}

.icones i {
    cursor: pointer;
}

.infoComentario {
    margin-left: 10px;
}

.Imagecomentario {
    width: 80px;
    height: 80px;
    border-radius: 20px;
}

@media screen and (max-width: 768px) {
    .perfilCliente {
        display: flex;
        flex-flow: column wrap;
        align-items: flex-start;
    }


    .perfilDados {
        display: flex;
        flex-flow: row wrap;
    }

    .perfilAvaliacao>h4 {
        text-align: center;
    }

    .perfilDetalhes {
        width: 100%;
        display: grid;
        flex-wrap: row wrap;

    }

    .perfilNotas {
        padding-right: 10px;
    }

    .perfiServico {
        margin-top: 2px;
        margin-left: 45px;
    }


    .avaliacaoGroup {
        display: flex;
        flex-flow: column wrap;
        align-items: flex-start;
    }

    .comentGroup {
        width: 80%;
    }

    .Imagecomentario {
        width: 70px;
        height: 70xp;
    }

    .icones {
        display: flex;
        align-items: center;
        gap: 30px;
    }

    .icones > i {
        cursor: pointer;
        font-size: 25pt !important;
    }



}

@media (min-width: 768px) and (max-width: 1300px) {

    .perfilDados {
        flex-flow: row wrap;
    }

    .perfilDetalhes {
        width: 100%;
        display: flex;
        flex-flow: column wrap;
    }

    .avaliacaoGroup {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .comentGroup {
        width: 88%;
    }


}


/* TELA DE SERVIÇOS ATIVO */
.modalAtivoInfo {
    display: flex;
}

.modalAtivoDetalhes {
    display: flex;
    gap: 10px;
}

.modalImagem {
    padding: 5px;
}

.modalObservacao {
    width: 80%;
    margin-left: 20px;
    margin-bottom: 50px;
}

.modalObservacao>p {
    text-align: justify;
}

.botaoServicoAtivo {
    width: 100vw;
    display: flex;
    justify-content: center;
}

.botaoModalDeletar {
    display: flex;
    justify-content: center;
}

.btn-finalizarSerivo {
    width: 250px;
    height: 40px;
    border: 1px solid var(--corPrincipal);
    box-shadow: var(--sombras);
    border-radius: var(--bordas);
    margin-right: 15px;
    background-color: var(--corPrincipal);
    color: white;
    font-weight: 600;
}

.btn-finalizarSerivo:hover {
    transform: scale(1.03) translateY(-5px) translateX(3px);
}

.btn-negar {
    width: 150px;
    height: 40px;
    margin-right: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.103);
    background-color: white;
    border: 1px solid #6D6B6B;
    color: black;
    font-family: var(--fontePrincipal);
    cursor: pointer;
}

.btn-negar:hover {
    transform: scale(1.03) translateY(-2px) translateX(4px);
    background-color: lightgray;
    color: black;
}



/* Tela de solicitação */
.solicitacao {
    display: flex;
    margin-top: 50px;
    justify-content: space-between;
    align-items: center;
}

.solicitacaoDados {
    display: flex;
    gap: 15px;
    margin-left: 20px;
}

.solicitacaoImagem>img {
    width: 230px !important;
    height: 224px !important;
    border-radius: 20px;
}

.solicitacaoInfo>h5 {
    font-size: 13pt;
}

.solicitacaoConfirmar {
    display: flex;
    flex-flow: column wrap;
    padding: 8px;
    padding: 10px;
    border: 1px solid #00000041;
    margin-right: 155px;
    height: 180px;
    border-radius: 10px;
    box-shadow: var(--sombras);
}

.solicitacaoBotao {
    display: flex;
    justify-content: center;


}

.solicitacaoObservacao {
    width: 50%;
    margin-top: 20px;
    margin-left: 20px;
}

.solicitacaoObservacao>h4 {
    font-size: 20pt;
    font-weight: bold;
}

.solicitacaoObservacao>p {
    text-align: justify;
}

@media screen and (max-width: 670px) {

    .solicitacaoDados {
        display: flex;
        flex-flow: column wrap;
    }


}

@media screen and (max-width: 1250px) {

    .tituloSolicitacao {
        margin-top: 40px !important;
    }

    .solicitacao {
        display: flex;
        flex-flow: column wrap;
        align-items: flex-start;
        gap: 50px;
    }

    .solicitacaoConfirmar {
        margin-left: 20px;
        margin-bottom: 40px;
    }

    .solicitacaoObservacao {
        width: 80%;
        margin-bottom: 30px;
    }


}


/* Historico profissional */
.filtrosHistorico {
    display: flex;
    margin-top: 25px;
    justify-content: space-between;
}

.listaHistorico {
    margin-top: 50px;
    margin-left: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;

}


.img-card {
    width: 170px !important;
    height: 170px !important;
    border-radius: 20px;
    margin: 10px 10px 0px 10px;

}


.status {
    display: flex;
    justify-content: flex-start;
}

.status>p {
    color: #22C55E;
    font-weight: bold;
}

.statusR>p {
    font-weight: bold;
    color: #C52222;

}

summary {
    font-weight: bold;
}

details p {
    text-align: justify;
}



.cardBotao {
    display: flex;
    justify-content: flex-end;
    width: 320px
}


.cardBotaoExcluir {
    margin-right: 25px;

}

.btn-deletar {
    width: 150px;
    height: 40px;
    border: 1px solid #C52222;
    box-shadow: var(--sombras);
    border-radius: var(--bordas);
    margin-right: 15px;
    background-color: #C52222;
    color: white;
    font-weight: 600;


}

.btn-deletar:hover {
    transform: scale(1.03) translateY(-5px) translateX(3px);
}


@media screen and (max-width: 768px) {

    .filtrosHistorico {
        display: flex;
        margin-top: 25px;
        flex-flow: column wrap;
        align-items: flex-start;
    }

    .cardBotaoExcluir {
        margin-left: 30px;

    }



    .listaHistorico {
        display: flex;
        flex-flow: column wrap;
        align-items: flex-start;
        padding-right: 10px;

    }

    .cardHistorico {
        height: 43vh;
        width: 100%;
        margin-bottom: 10px;

    }




}

@media (min-width: 768px) and (max-width: 1450px) {
    .listaHistorico {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
    }

}


.btn-pendente {
    width: 150px;
    height: 40px;
    border: 1px solid #F97316;
    box-shadow: var(--sombras);
    border-radius: var(--bordas);
    margin-right: 15px;
    background-color: #F97316;
    color: white;
    font-weight: 600;


}

.btn-pendente:hover {
    transform: scale(1.03) translateY(-5px) translateX(3px);
}