@media screen and (max-width: 768px) {
    .container-box {
        width: 90%;
    }

    .campos {
        width: 100%;
    }

    .login {
        width: 420px !important;
    }

    .link {
        display: flex;
        gap: 70px;
    }

    .btn-submit {
        width: 93%;
    }

    
}