@charset "UTF-8";


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--fontePrincipal);
}


:root {
    --corPrincipal: #3B82F6;
    --fontePrincipal: 'Montserrat', sans-serif;
    --TamanhoFonte: 700;
    --bordas: 5px;
    --sombras: 0px 3px 5px rgba(0, 0, 0, 0.175)
}



main {
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-box {
    border: 1px solid rgba(0, 0, 0, 0.089);
    border-radius: var(--bordas);
    box-shadow: var(--sombras);
    width: 857px;
    height: 485px;
    display: flex;
    flex-direction: column;
}

.texto {
    margin-top: 20px;
}

/* Texto no canto superior esquerdo */
.container-box h3 {
    align-content: flex-start;
    margin: 20px;
    margin-left: 20px;
    font-family: var(--fontePrincipal);
}


/* .formulario {
    /* display: flex; */
    /* justify-content: center;
    align-items: center; */
    /* height: 70%; *
}*/ 

/* Área do input centralizada */
.campos{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px ;
}


.botoes {
    width: 100vw;
    display: grid;
    gap: 25px;
    grid-template-columns: repeat(2, 1fr);
}


.btn-submit {
    width: 500px;
    height: 42px;
    background-color: var(--corPrincipal);
    border: none;
    border: 2px solid var(--corPrincipal);
    font-family: var(--fontePrincipal);
    font-weight: var(--TamanhoFonte);
    color: white;
    box-shadow: var(--sombras);
    border-radius: var(--bordas);
    cursor: pointer;
}

.btn-submit:hover {
    transform: scale(1.03) translateY(-2px) translateX(4px);
    background-color: var(--corPrincipal);
    color: rgb(255, 255, 255);
    border: 2px solid #3B82F6;
}

